* {
  box-sizing: border-box;
}

button,
.voltarHome {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 69px;
  left: 0px;
  top: 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;
  z-index: 2;
}

.masterContainer {
  width: 1051px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 146px;
  margin-bottom: 100px;
}

.criarQuizzHome {
  height: 181px;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  padding: 50px 0 30px 0;
}

.criarQuizzHome p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  color: #b9b9b9;
}

.masterContainer .criarQuizzHome button {
  width: 151px;
  height: 40px;
  background-color: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  margin: 30px auto;
  padding: 5px 20px;
  background: #fafafa;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ec362d;
}

.masterContainer .criarQuizzHome {
  margin-bottom: 20px;
}

.titleQuizzesUsuario {
  display: flex;
  align-items: center;
}

.textoParaSecao,
.titleQuizzesUsuario p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.titleQuizzesUsuario ion-icon {
  width: 31px;
  height: 30px;
  color: #ec362d;
  border-radius: 500px;
  margin-left: 10px;
}

.todosQuizzes,
.quizzesUsuario {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.mostrarQuizzesUsuarios {
  display: flex;
  flex-direction: column;
}

ion-icon {
  cursor: pointer;
}

.perguntasDoQuizz .form {
  margin-bottom: 30px;
}

.criarQuizzHome {
  display: none;
  flex-direction: column;
}

.home {
  flex-direction: column;
}

.criacaoDeQuizz {
  display: none;
}

/* ------------------------------------ */

body {
  background: #e5e5e5;
}

.informacoesBasicas {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informacoesBasicas form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informacoesBasicas .entradaInformacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 256px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.desativado {
  display: none;
}

.ativado {
  display: flex;
}

.masterContainer input {
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-bottom: 9px;
}

.form,
.formNivel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
}

.perguntasDoQuizz,
.niveisDoQuizz,
.acessarSeuQuizz {
  margin: auto;
  display: none;
  flex-direction: column;
  align-items: center;
}

.perguntasDoQuizz div,
.niveisDoQuizz div {
  padding: 10px 10px 5px 10px;
}
.perguntasDoQuizz .inputs {
  padding-bottom: 10px;
}

.inputs .urlRespImcorreta1,
.inputs .urlRespImcorreta2 {
  margin-bottom: 32px;
}

.inputs,
.inputsNivel {
  flex-direction: column;
  display: none;
  background-color: white;
  align-items: center;
}

.formNivel .headerNivel,
.form .headerPergunta {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  width: 600px;
  height: 74px;
  padding: 0 20px;
}

.headerPergunta ion-icon,
.headerNivel ion-icon {
  width: 26px;
  height: 23px;
}

.niveisDoQuizz .formNivel {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.masterContainer button {
  margin-top: 86px;
  width: 368.86px;
  height: 54px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff5f4;
  background: #ec362d;
  border-radius: 15px;
}

.masterContainer .criacaoDeQuizz p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  /* margin-bottom: 27px; */
  display: flex;
  align-items: center;
  color: #000000;
}

.perguntasDoQuizz p {
  margin-bottom: 10px;
}

.niveisDoQuizz form p,
.perguntasDoQuizz .form p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #000000;
}

.masterContainer input::placeholder {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  padding-left: 13px;
  color: #bababa;
}

.acessarSeuQuizz p {
  margin-bottom: 20px;
}

.acessarSeuQuizz button {
  margin-bottom: 12px;
}

.acessarSeuQuizz div {
  position: relative;
}

.acessarSeuQuizz p:nth-child(2) {
  position: absolute;
  bottom: -8px;
  left: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.niveisDoQuizz {
  display: none;
}

.acessarSeuQuizz {
  display: none;
}

.quizz {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

.quizz::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  border-radius: 5px;
}

.quizz img,
.acessarSeuQuizz img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.quizz p {
  position: absolute;
  z-index: 1;
  width: 301px;
  color: black;
  bottom: 10px;
  left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
}
.close{
  display: none;
}
.open{
  display: flex;
}
/*----------------------------------------------
        Conteúdo do Quizz
/*----------------------------------------------*/
.masterContainer_2{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 69px;
  margin-bottom: 100px;
  background-color: #E5E5E5;
}

.cabecalho{
width: 100%;
height: 227px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 39px;
}
.caixa_respostas{
  width: 759px;
  height: 676px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 42px;
  padding: 28px 35px 0px 35px;
  display: flex;
  flex-direction: column;
}
.respostas{
  width: 688px;
  height: 455px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pergunta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 689px;
  height: 138px;
  background-color: pink;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
}
.img_resposta{
  width: 330px;
  height: 175px;
  padding-bottom: 15px;
}
.resposta_certa, .resposta_errada{
  width: 330px;
  height: 217px;
  padding-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  }
